body {
    background-color: #858585;
}

// margin reset
html, body, h1, h3, h4, p{
    margin: 0;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    background-color: #D7D4D5;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    -webkit-box-shadow: -20px 170px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -20px 170px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -20px 170px 30px 0px rgba(0, 0, 0, 0.75);

    .title{
        color: #343434;
        font-size: 3vw;
        text-align: left;
        margin: 2rem 0;
        transition:  3s;
    }

    .content-wrapper-left{
        width: 25%;
        height: auto;
        left: 0;
        float: left;
        background-color: #2E3538;
        padding-bottom: 4rem;

        .top-left-content-article{
            background-color: #49ABB8;
            padding-bottom: 2rem;

            .profile-image{
                width: 50%;
                margin: 0 auto;
                border-radius: 50%;
                margin: 10% 25%;
            }

            .sub-title{
                text-align: center;
                margin: 0;
                font-weight: 100;
            }
        }

        .bottom-left-content-article{
            h5{
                color: #49AAB6;
            }

            p{
                color: white;
                text-align: left;
                word-break: break-all;
                padding: 0 10px;
            }

            ul{
                list-style: none;
                padding: 0;

                li{

                    a{
                        text-decoration: none;
                        color: white;
                    }

                    a:hover{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .content-wrapper-right{
        position: absolute;
        width: 75%;
        height: 100%;
        right: 0;
        float: right;
        background-color: #EBEBEB;

        .personal-details{
            padding: 5%;
            border-bottom: 1px solid lightgray;

            h4{
                text-align: center;
                margin-bottom: 2%;
                
            }

            p{
                text-align: left;
            }

            table{
                width: 100%;
            }
        }
    }
}

